<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python-Mysql</title>
    <script src="./jquery.js"></script>
    <script src="../vue/vue.js"></script>
</head>
<body>

    <div id="app">
        <div>
            <input type="text" v-model="userID" placeholder="userID">
            <input type="text" v-model="userName" placeholder="userName">
        </div>
        <span v-for="(item, index) in btnList" :key="index" @click="event(item.event)">{{item.value}}</span>
        <div id="info">{{info}}</div>
    </div>

</body>

<script>
    new Vue({
      el: '#app',
      data: {
        userID: '',
        userName: '',
        info: '--',
        btnList: btnList()
      },
      methods: {
        event(event){
            this[event]()
        },
        ajax(option){
            ajax(option).then(r => {
                console.log(r)
                this.info = JSON.stringify(r)
            })
        },
        setConsole(){
            console.log('%c 11', 'color: pink; font-size: 20px;')
        },
        getInfo(){
            const option = {url: '/login', type: 'post', data: {name: 'zsp'}}
            this.ajax(option)
        },
        createTable(){
            const sql = `CREATE TABLE a_user_info (id INT UNSIGNED AUTO_INCREMENT, name VARCHAR(10), phone CHAR(11), gender INT, PRIMARY KEY (id))`
            const option = {url: '/sqlHandle', type: 'post', data: {sql}}
            this.ajax(option)
        },
        insertInto(){
            const sql = `INSERT INTO a_user_info (name, phone, gender) VALUES ('${this.userName}', '13500000000', 0)`
            const option = {url: '/sqlHandle', type: 'post', data: {sql}}
            this.ajax(option)
        },
        login(){
            // const sql = `INSERT INTO a_user_info (name, phone, gender) VALUES ('zsp', '13500000000', 0)`
            const option = {url: '/login', type: 'post', data: {id: this.userID ? parseInt(this.userID) : -1}}
            this.ajax(option)
        },
        update(){
            const sql = `UPDATE a_user_info SET name='${this.userName}' WHERE id=${this.userID ? parseInt(this.userID) : -1}`
            const option = {url: '/sqlHandle', type: 'post', data: {sql}}
            this.ajax(option)
        },
        clearDelete(){
            const sql = `DELETE FROM a_user_info`
            const option = {url: '/sqlHandle', type: 'post', data: {sql}}
            this.ajax(option)
        }
      }
    })

    function btnList(){
        return [
            {value: '获取信息', event: 'getInfo'},
            {value: '创建用户信息', event: 'createTable'},
            {value: '新建用户信息', event: 'insertInto'},
            {value: '更新用户信息', event: 'update'},
            {value: '登录', event: 'login'},
            {value: '清空用户', event: 'clearDelete'},
            {value: 'Console', event: 'setConsole'},
        ]
    }

    function ajax(option){
        const hostUrl = 'http://192.168.4.3:8000/'
        const o = option || {}
        if(o.type == 'post' || o.type == "POST"){
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: `${hostUrl}${o.url}`,
                    type: o.type || "GET",
                    data: JSON.stringify(o.data || {}),
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    success: r => resolve(JSON.parse(r)),
                    error: err => reject(JSON.parse(r))
                })
            })
        }
        return new Promise((resolve, reject) => {
            $.ajax({
                url: `${hostUrl}${o.url}`,
                type: o.type || "GET",
                data: o.data || {},
                success: r => resolve(JSON.parse(r)),
                error: err => reject(JSON.parse(r))
            })
        })
    }
    
</script>

<style>
    #app{
        position: absolute;
        left: 10px;
        right: 10px;
        top: 10px;
        bottom: 10px;
        border: 1px solid pink;
    }
    span{
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid plum;
        cursor: pointer;
        margin: 10px;
    }
    #info{
        width: 80%;
        margin: 20px auto;
    }
</style>
</html>